@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
    margin: 0;
}

body{
    background-color: #e8e8e8;
}

header{
    margin-bottom: 90vh;
}

#divider{
    margin-bottom: 70vh;
}

#page-number {
    font-size: 1.4rem;
    margin-left: 4vw;
    margin-right: 4vw;
    font-family: 'Arvo', serif;
}





#name{
    text-align: center;
    font-family: 'Zeyada', cursive;
    font-size: 2.5rem;
    padding-top: 20rem;
    animation: fadeIn 5s, fadeInTop 2s;
}

#info{
    text-align: center;
    animation: fadeIn 5s;
    font-family: 'Prompt', sans-serif;
}







#about-me-Title-box {
    width: 30vw;
    height: 13vh;
    background-color: #e0e0e0;
    margin-left: 2vw;
    margin-top: 7vh;
}

#about-me-Title{
    z-index: 1;
    position: absolute;
    font-size: 5rem;
    padding-left: 4.5vw;
    font-family: 'Prompt', sans-serif;

}

#about-me{
    display: flex;
}

#about-me-left{
    width: 50%;
}

#about-me-header{
    flex: 1;
}

#about-me-text{
    margin-top: 5vh;
    margin-left: 7vw;
    font-family: 'Arvo', serif;
    font-size: 1.2vw;
    line-height: 2;
}

.reveal{
    position: relative;
    transform: var(--direction);
    opacity: 0;
    transition: var(--speed);
    transition-delay: var(--delay);
}
.reveal.active{
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
    width: auto;
}


#picture{
    width: 50%;
    text-align: center;
    height: 45rem;
}

#picture img{
    padding-left: 17vw;
}




#portfolio{
    display: flex;
    margin-bottom: 95vh;
}

#portfolio-left{
    flex: 1;
}

#portfolio-right{
    flex: 2;
    text-align: right;
}

#portfolio-Title{
    z-index: 1;
    position: absolute;
    font-size: 5rem;
    padding-left: 33vw;
    font-family: 'Prompt', sans-serif;
}

#portfolio-Title-box {
    width: 30vw;
    height: 13vh;
    background-color: #e0e0e0;
    margin-left: 35vw;
    margin-top: 7vh;
}

.card-stack {
    position: relative;
    width: 20vw;
    height: 20vh;
    margin: 0 auto;
    margin-left: 10vw;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 400px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(36,36,36,.3);
}

.card:hover {
    transform: translateX(200px);
    z-index: 6;
}

.card-1 {
    transform: translateZ(0) rotatex(-10deg);
    z-index: 5;

}

.card-2 {
    transform: translateX(40px) rotatex(-30deg);
    z-index: 4;
}

.card-3 {
    transform: translateX(70px) rotatex(-40deg);
    z-index: 3;
}

.card-4 {
    transform: translateX(100px) rotateX(-50deg);
    z-index: 2;
}

.card-5 {
    transform: translateX(130px) rotateX(-55deg);
    z-index: 1;
}




#timeline{
    margin-left: 13vw;
    margin-top: 10vh;
    margin-bottom: 12vh;
    font-family: 'Arvo', serif;
}

#group-branches{
    display: flex;
}

#branch-container {
    display: flex;
    width: 50%;
}

#branch-text {
    height: 7vh;
    width: 10vw;
    border-width: 5px;
    margin-top: 4vh;
    text-align: right;
    font-size: .8rem;
    width: 30%;
}

#top-branch-text{
    height: 7vh;
    width: 10vw;
    border-width: 5px;
    text-align: right;
    font-size: .8rem;
    width: 40%;
    margin-left: 10vw;
}

#branch1{
    height: 13vh;
    width: 2px;
    background-color: black;
    margin-left: 1vw;
}

#branch2{
    height: 13vh;
    width: 2px;
    background-color: black;
    margin-left: 1vw;
}

#branch3{
    height: 13vh;
    width: 2px;
    background-color: black;
    margin-left: 1vw;
}

#branch4{
    height: 13vh;
    width: 2px;
    background-color: black;
    margin-left: 1vw;
}

#main-line {
    width: 85%;
    height: 2px;
    background-color: black;
}

#history-Title{
    z-index: 1;
    position: absolute;
    font-size: 5rem;
    padding-left: 12vw;
    font-family: 'Prompt', sans-serif;
}

#history-Title-box {
    width: 35vw;
    height: 13vh;
    background-color: #e0e0e0;
    margin-left: 5vw;
    margin-top: 7vh;
}




#contact-me-Title{
    z-index: 1;
    position: absolute;
    font-size: 5rem;
    padding-left: 12vw;
    font-family: 'Prompt', sans-serif;
}

#contact-me-Title-box {
    width: 35vw;
    height: 13vh;
    background-color: #e0e0e0;
    margin-left: 5vw;
    margin-top: 7vh;
}

#contact-meContainer {
    text-align: center;
    margin-top: 12rem;
    font-family: 'Prompt', sans-serif;
}

#contact-meContent h1{
    font-size: 2rem;
}

#contact-meContent h3{
    margin-top: 2rem;
}

#socialsLogo {
    margin-top: 3rem;
}

#socialsLogo img{
    margin-left: 1rem;
    margin-right: 1rem;
}

footer{
    text-align: center;
    margin-top: 10rem;
    font-family: 'Prompt', sans-serif;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInTop {
    0% { transform: translateY(-2rem); }
    100% { transform: translateY(0); }
}

@media screen and (max-width: 55em) {
    
  }