@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto&display=swap');

* {
    margin: 0;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-color: black;
    font-weight: 100;
    font-style: normal;
    overflow: hidden;
}

.mouse-circle {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: white;
    border-color: white;
    border-radius: 50%;
    pointer-events: none; 
    transition: transform 0.1s ease-out; 
    z-index: 1000; 
}

.intro-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.1); 
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

#hero-name {
    user-select: none;
    transition: text-shadow .3s ease;
    color: white;
    font-size: 8rem;
}

#hero-tagline {
    color: rgba(255, 255, 255, 0.8); 
    justify-content: center;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}