@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

*{
    margin: 0;
}

body{
    background-color: #e8e8e8;
}

header{
    margin-bottom: 110vh;
}

#name{
    text-align: center;
    font-family: 'Zeyada', cursive;
    font-size: 2.5rem;
    padding-top: 20rem;
    animation: fadeIn 5s, namefadeInTop 2s;
}

#info{
    text-align: center;
    animation: fadeIn 5s;
    font-family: 'Prompt', sans-serif;
}

#page-number {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 4vw;
    font-family: 'Prompt', sans-serif;
}

#about-me-Title-box {
    width: 30vw;
    height: 13vh;
    background-color: #e0e0e0;
    margin-left: 2vw;
    margin-top: 7vh;
}

#about-me-Title{
    z-index: 1;
    position: absolute;
    font-size: 5rem;
    padding-left: 4.5vw;
    font-family: 'Prompt', sans-serif;

}

#about-me{
    margin-bottom: 100vh;
}

.reveal{
    position: relative;
    transform: var(--direction);
    opacity: 0;
    transition: var(--speed);
}
.reveal.active{
    transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes namefadeInTop {
    0% { transform: translateY(-2rem); }
    100% { transform: translateY(0); }
}